<VirtualHost *:80>
     DocumentRoot /var/www/html/rainloop/
     ServerName localhost
     ServerAlias localhost

     <Directory /var/www/html/rainloop/>
    Options +Indexes +FollowSymLinks +ExecCGI
    AllowOverride All
    Order deny,allow
    Allow from all
    Require all granted

     </Directory>

    #  ErrorLog ${APACHE_LOG_DIR}/error.log
    #  CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>